body {
  margin: 0 50px;
  padding: 0;
  background-color: lightgray;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  a {
    color: blue;
  }

  pre {
    padding: 10px 20px;
    background-color: gray;
    color: white;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 0 50px;
    flex-wrap: wrap;
  }
}
